.input__container {
	position: relative;
	display: flex;
	width: 100%;
	border-radius: 6px;
	border: 3px solid #fff;
	margin-bottom: 15px;
}

.input__wrapper {
	position: relative;
	width: 100%;
}

.input__wrapper_clear .input {
	padding-right: 50px;
}

.input {
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
	height: 60px;
	font-size: 24px;
	background: transparent;
	color: #fff;
	border: none;
}

.input:focus {
	outline: none;
}

.input__icon-wrapper {
	flex: none;
    width: 50px;
    height: 60px;
    display: flex;
	align-items: center;
	justify-content: center;
}

.input__validation {
	position: absolute;
	bottom: -25px;
	left: 0;
	color: red;
	padding: 2px 15px 0;
}

.input__clear-button {
	position: absolute;
	right: 10px;
	top: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome */
	color: #fff;
}
  :-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
  ::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
  :-moz-placeholder { /* Firefox 4 - 18 */
	color: #fff;
}