.overlay {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	align-items: center;
	justify-content: center;
}

.overlay_visible {
	display: flex;
}

.overlay_transparent {
	background: transparent;
}

.overlay__close {
	position: absolute;
	display: flex;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	color: #222;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.overlay__close:hover {
	background: red;
	color: #fff;
}

.overlay__close:active {
	transform: scale(.96);
}