.tag {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	padding: 0 15px;
	background: green;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
}

.tag:nth-child(n + 5) {
	margin-top: 10px;
}
