.form {
	display: flex;
	align-items: center;
	min-width: 550px;
	padding: 20px;
	border-radius: 4px;
	color: #fff;
	justify-content: flex-end;
}


.form form {
	display: none;
}

.form form.visible {
	display: block;
}

.form__header {
	display: flex;
	justify-content: flex-end;
}

.form__title {
	font-size: 24px;
	border-bottom: 1px solid #eee;
	width: 400px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 40px;
}

.form__title_auth span:first-child {
	text-decoration: underline;
}

.form__title_reg span:last-child {
	text-decoration: underline;
}

.form__title span {
	cursor: pointer;
}

.form__title span:hover {
	color: red;
}

.form__dilimiter {
	margin: 0 5px;
}

.form__inner {
	width: 100%;
}

.form__row {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	align-items: center;
	justify-content: flex-end;
}

.form .label {
	font-size: 26px;
	letter-spacing: 1.2px;
	font-weight: normal;
}

.form .input {
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	padding: 0 10px;
	height: 60px;
	font-size: 24px;
	border-radius: 6px;
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
}

::-webkit-input-placeholder { /* Chrome */
	color: #fff;
}
  :-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
  ::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
  :-moz-placeholder { /* Firefox 4 - 18 */
	color: #fff;
}

.addWishForm-card {
	width: 450px;
}

.addWishForm-card .login-form-button {
  width: 100%;
}

.addWishForm-card .ant-upload {
	width: 100%;
}

.addWishForm-card .ant-upload .ant-btn {
	width: 100%
}
