.form {
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: 10px;
	min-height: 350px;
	min-width: 400px;
	max-width: 70%;
	padding: 30px;
}

.form__row {
	margin-bottom: 20px;
}

.form__title {
	display: block;
	font-size: 30px;
	margin-bottom: 20px;
}