.list {
	display: flex;
	flex-direction: column;
}

.list__row {
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
}

.list__row_header {
	font-weight: bold;
}

.list__col {
	flex: 1;
	text-align: center;
	position: relative;
}

.list__col_name {
	display: flex;
	align-items: center;
	flex-basis: 30%;
	text-align: left;
}

.list__col:first-child {
	padding-left: 25px;
}

.list__preview {
	max-width: 70px;
	margin-right: 20px;
}

.list__assign-form {
	position: absolute;
	bottom: 100%;
	right: 0;
	background: #fff;
	min-width: 350px;
	padding: 30px;
	display: flex;
	box-shadow: 0px 0px 10px #eee;
	z-index: 999;
}

.list__assignBtn {
	display: inline-block;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background: red;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}

.list__assignBtn:active {
	transform: scale(.92);
}

.list__assignInput {
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border-radius: 3px 0 0 3px;
	border: 1px solid #a9a9a9;
	box-sizing: border-box;
}

.list__assignInput:focus {
	box-shadow: none;
	outline: none;
}

.list__assignBtnSave {
	border: 1px solid #a9a9a9;
	border-left: none;
	height: 40px;
	line-height: 40px;
	border-radius: 0 3px 3px 0;
	box-sizing: border-box;
	width: 40px;
	cursor: pointer;
	background-image: url('./i/done.svg');
	background-position: center;
	background-repeat: no-repeat;
	transition: all .2s ease;
}

.list__assignBtnSave:hover {
	background-color: #a9a9a9;
	background-image: url('./i/done_white.svg');
}