.list {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	margin: 20px 0;
}

.list__item {
	display: flex;
	align-items: center;
	padding: 10px 20px 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.list__col {
	width: 25%;
}

.list__col_id {
	width: 50px;
	text-align: center;
}

.list__selection-actions {
	min-height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.list__selection-actions-button {
	margin-right: 15px;
}

.list__selection-actions-button:last-child {
	margin-right: 0;
}

.list__col_name {
	display: flex;
	align-items: center
}

.list__col_name img {
	width: 50px;
	margin-right: 15px;
}

.list table td {
	vertical-align: middle;
}