.header {
	height: 70px;
	border-bottom: 1px solid #eee;
}

.header__inner {
	max-width: 70%;
	margin: 0 auto;
	min-width: 1260px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__title {
	font-size: 24px;
	font-weight: bold;
}

.header__col {
	display: flex;
	align-items: center;
}